body {
    background-color: green;
}

audio {
    display: block;
    background-color: pink;
    border: solid 10px black;
    border-radius: 50px;
    padding: 5vw;
    margin: 4vw;
    width: 50vw;
    height: 40vh;

}

#theVisible {
    background-color: yellow;
    display: none;
}